.Navbar_esas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}
.Navbar_esas_lists{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar_esas_lists ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.Navbar_esas_lists ul li{
  list-style-type: none;
}
.Navbar_esas_lists ul li a{
  text-decoration: none;
  color: black;
}
.Navbar_esas_lists ul li a:hover{
   color: blueviolet;
}
.Navbar_esas svg{
  font-size: 24px;
}
.Navbar_esas_reaponsivlik{
  display: none;
}
.Navbar_esas_reaponsivlik svg{
  font-size: 22px;

}
.Navbar_esas_icons{
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .Navbar_esas_reaponsivlik{
     display: block;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .Navbar_esas{
    display: none;
  }
}

.Home_section_1{
  background-color: aqua;
  padding: 150px;
}
.Home_section_1 img{
  width: 100%;
  height: 100%;
}


.Home_section_2 h1{
  font-weight: bolder;
}
.Home_section_2 h5{
  color: darkgrey;
}
.Home_section_2_1{
  transform: translateY(20%);
}
.Home_section_2 img{
  width: 100%;
  height: 100%;
}


.Home_section_3_next{
  display: flex;
  justify-content: flex-end;
}

.Home_section_3_data h2,p{
  text-align: center;

}

.Home_section_4{
  width: 100%;
  height: 70vh;
  background-image: url(https://preview.colorlib.com/theme/aranoz/img/subscribe_area.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Home_section_4{
  display: flex;
  justify-content: center !important;
  align-items: center !important;

}
.Home_section_4 h5,h2{
  text-align: center;
}
.Home_section_4_esas{
  margin-left: 25% !important;
}


.Home_section_5_esas{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  justify-content: center;
}

.Foter_lists ul li{
  list-style-type: none;
  margin: 10px 0;
}
.Foter_lists ul{
  padding: 0;
}
.Foter h5{
  text-align: center;
}